.todo-item {
	list-style-type: none;

	& + & {
		margin-top: 8px;
		padding-top: 8px;
		border-top: 1px solid #f1f1f1;
	}

	label {
		display: flex;
		align-items: center;
	}

	&.is-completed .todo-item__name {
		text-decoration: line-through;
	}
}

.todo-item__delete {
	margin-left: auto;
	background: red;
	color: #fff;
	border: 1px solid red;
	padding: 6px 12px;
}
