:root {
	--c-background: #f1f1f1;
	--c-text: #333;
}
[data-theme='dark'] {
	--c-background: #333;
	--c-text: white;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: var(--c-background);
	color: var(--c-text);
}

button {
	cursor: pointer;
	transition: 0.3s ease all;
}

button:disabled {
	opacity: 0.5;
}

button svg {
	width: 21px;
}

h1 {
	text-align: center;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
}

.language-switcher,
.site-header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.site-header {
	justify-content: space-between;
}

main {
	width: min(600px, 100%);
	padding: 15px;
	background: #fff;
}
